@font-face {
  font-family: TeX;
  src: url('/texgyreadventor-regular.otf');
}

@font-face {
  font-family: TeX;
  src: url('/texgyreadventor-bold.otf');
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: TeX, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

::-webkit-scrollbar {
  width: 5px;
}
 
::-webkit-scrollbar-track {
  background: #ddd;
}
 
::-webkit-scrollbar-thumb {
  background: #666; 
}

* {
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}