@font-face {
  font-family: TeX;
  src: url('/texgyreadventor-regular.otf');
}

@font-face {
  font-family: TeX;
  src: url('/texgyreadventor-bold.otf');
  font-weight: bold;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: TeX, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.pulsing {
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 133, 133, 0.8);
  }

  70% {
    box-shadow: 0 0 0 10px rgba(204, 169, 44, 0);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(204, 169, 44, 0);
  }
}